<div class="wrapper">
  <h1>Angular Element 1</h1>

  <h2>Platform Service</h2>
  <strong>Message Recieved: </strong> {{ platformOutput }}
  <div class="buttons">
    <button (click)="send(1)">Send Message</button> 
    <button (click)="receive()">Receive Message</button>
  </div>

  <h2>Any Service</h2>
  <strong>Message Recieved: </strong> {{ anyOutput }}
  <div class="buttons">
    <button (click)="send(1)">Send Message</button> 
    <button (click)="receive()">Receive Message</button>
  </div>
</div>
